var errors = JSON.parse('<%= @errors %>')
$('.error-message').remove();

if (errors.end_date_12_months_after_start_date.length > 0) {
  modalBody = $('#edit-tracker-dates-modal').find('.modal-body')
  $(modalBody).prepend("<p class='error-message text-center alert alert-danger'>" + errors.end_date_12_months_after_start_date.join(', ') + "</p>");
}

if (errors.start_date.length > 0) {
  $(trackerStartDateField).addClass('is-invalid')
  $(trackerStartDateField).parents('.form-group').append('<div class="invalid-feedback">' + errors.start_date.join(', ') + '</div>')
}

var trackerStartDateField = $('#tracker_start_date')
$(trackerStartDateField).removeClass('is-invalid')
$(trackerStartDateField).parents('.form-group').find('.invalid-feedback').remove()

if (errors.start_date.length > 0) {
  $(trackerStartDateField).addClass('is-invalid')
  $(trackerStartDateField).parents('.form-group').append('<div class="invalid-feedback">' + errors.start_date.join(', ') + '</div>')
}

var trackerEndDateField = $('#tracker_end_date')
$(trackerEndDateField).removeClass('is-invalid')
$(trackerEndDateField).parents('.form-group').find('.invalid-feedback').remove()

if (errors.end_date.length > 0) {
  $(trackerEndDateField).addClass('is-invalid')
  $(trackerEndDateField).parents('.form-group').append('<div class="invalid-feedback">' + errors.end_date.join(', ') + '</div>')
}
