<div class="modal" tabindex="-1" role="dialog" id="login-form-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Log In</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= bootstrap_form_for @user, url: create_login_path, method: 'post', remote: true, html: { id: 'login-form' } do |f| %>
        <div class="modal-body">
          <%= f.text_field :email, label: "Email Address", id: 'login-email' %>
          <%= f.password_field :password, id: 'login-password' %>
          <div class='text-center'>
            Not registered?
            <%= link_to "Sign up here", '#', class: 'signup-button', data: { toggle: "modal", target: "#signup-form-modal" } %>
          </div>
        </div>
        <div class="modal-footer">
          <%= f.submit "Log In", class: "btn btn-secondary float-right", data: { disable_with: "Submitting..." } %>
        </div>
      <% end %>
    </div>
  </div>
</div>
