<div class="modal" tabindex="-1" role="dialog" id="signup-form-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Sign Up</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= bootstrap_form_for @user, url: public_create_signup_path, method: 'post', remote: true, html: { id: "signup_form" } do |f| %>
        <div class="modal-body">
          <%= f.text_field :email, label: "Email Address", id: "signup-email-field" %>
          <%= f.password_field :password, id: "signup-password-field" %>
          <%= f.password_field :password_confirmation, label: "Confirm Password", id: "signup-password-confirmation-field" %>
          <div class='text-center'>
            Already registered?
            <%= link_to "Log in here", '#', class: 'login-button', data: { toggle: "modal", target: "#login-form-modal" } %>
          </div>
        </div>
        <div class="modal-footer">
          <%= f.submit "Sign Up", class: "btn btn-secondary float-right", data: { disable_with: "Submitting..." } %>
        </div>
      <% end %>
    </div>
  </div>
</div>
