<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>

      div.red-block {
        position: relative;
        background-color: red;
        color: white;
        text-align: center;
      }

      @media screen and (min-width: 1000px) {

        div.handwriting-block {
          display: inline-block;
          position: absolute;
          left: 20px;
          bottom: 0px;
          z-index: 10;
          pointer-events: none;
          /* background-color: pink; */
          transform: translateY(70%)
        }

        div.handwriting {
          position: relative;
          font-family: 'Shadows Into Light', cursive;
          font-size: 35px;
          font-weight: bold;
          -ms-transform: rotate(-10deg); /* IE 9 */
          -webkit-transform: rotate(-10deg); /* Safari 3-8 */
          // background-color: green;
          color: black;
        }

        img#arrow2 {
          position: relative;
          height: 120px;
          width: 150px;
          top: -10px;
          left: 50%;
          // background-color: lightblue;

          -ms-transform: rotate(90deg); /* IE 9 */
          -webkit-transform: rotate(90deg); /* Safari 3-8 */
        }

        img#arrow2-mirror {
          display: none;
        }
      }

      @media screen and (min-width: 800px) and (max-width: 999px){

        div.handwriting-block {
          display: inline-block;
          position: absolute;
          left: 15px;
          bottom: 0px;
          z-index: 10;
          pointer-events: none;
          /* background-color: pink; */
          transform: translateY(80%)
        }

        div.handwriting {
          position: relative;
          font-family: 'Shadows Into Light', cursive;
          font-size: 20px;
          font-weight: bold;
          -ms-transform: rotate(-10deg); /* IE 9 */
          -webkit-transform: rotate(-10deg); /* Safari 3-8 */
          // background-color: green;
          color: black;
        }

        img#arrow2 {
          position: relative;
          height: 80px;
          width: 110px;
          top: -5px;
          left: 50%;
          // background-color: lightblue;

          -ms-transform: rotate(90deg); /* IE 9 */
          -webkit-transform: rotate(90deg); /* Safari 3-8 */
        }

        img#arrow2-mirror {
          display: none;
        }
      }

      @media screen and (min-width: 600px) and (max-width: 799px){

        div.handwriting-block {
          display: inline-block;
          position: absolute;
          left: 15px;
          bottom: 0px;
          z-index: 10;
          pointer-events: none;
          /* background-color: pink; */
          transform: translateY(85%)
        }

        div.handwriting {
          position: relative;
          font-family: 'Shadows Into Light', cursive;
          font-size: 20px;
          font-weight: bold;
          -ms-transform: rotate(-10deg); /* IE 9 */
          -webkit-transform: rotate(-10deg); /* Safari 3-8 */
          // background-color: green;
          color: black;
        }

        img#arrow2 {
          position: relative;
          height: 80px;
          width: 100px;
          top: -10px;
          left: 50%;
          // background-color: lightblue;

          -ms-transform: rotate(90deg); /* IE 9 */
          -webkit-transform: rotate(90deg); /* Safari 3-8 */
        }

        img#arrow2-mirror {
          display: none;
        }
      }

      @media screen and (min-width: 500px) and (max-width: 599px){

        div.handwriting-block {
          display: inline-block;
          position: absolute;
          left: 10px;
          bottom: 0px;
          z-index: 10;
          pointer-events: none;
          /* background-color: pink; */
          transform: translateY(80%)
        }

        div.handwriting {
          position: relative;
          font-family: 'Shadows Into Light', cursive;
          font-size: 20px;
          font-weight: bold;
          -ms-transform: rotate(-10deg); /* IE 9 */
          -webkit-transform: rotate(-10deg); /* Safari 3-8 */
          // background-color: green;
          color: black;
        }

        img#arrow2 {
          display: none;
        }

        img#arrow2-mirror {
          position: relative;
          height: 60px;
          width: 40px;
          top: -10px;
          left: 20%;
          // background-color: lightblue;

          -ms-transform: rotate(190deg); /* IE 9 */
          -webkit-transform: rotate(190deg); /* Safari 3-8 */
        }
      }

      @media screen and (min-width: 370px) and (max-width: 499px){
        div.handwriting-block {
          display: inline-block;
          position: absolute;
          left: 5px;
          bottom: 0px;
          z-index: 10;
          pointer-events: none;
          /* background-color: pink; */
          transform: translateY(80%)
        }

        div.handwriting {
          position: relative;
          font-family: 'Shadows Into Light', cursive;
          font-size: 15px;
          font-weight: bold;
          -ms-transform: rotate(-10deg); /* IE 9 */
          -webkit-transform: rotate(-10deg); /* Safari 3-8 */
          // background-color: green;
          color: black;
        }

        img#arrow2 {
          display: none;
        }

        img#arrow2-mirror {
          position: relative;
          height: 60px;
          width: 40px;
          top: -10px;
          left: 20%;
          // background-color: lightblue;

          -ms-transform: rotate(200deg); /* IE 9 */
          -webkit-transform: rotate(200deg); /* Safari 3-8 */
        }
      }

      @media screen and (min-width: 200px) and (max-width: 369px){
        div.handwriting-block {
          display: inline-block;
          position: absolute;
          left: 5px;
          bottom: 0px;
          z-index: 10;
          pointer-events: none;
          /* background-color: pink; */
          transform: translateY(70%)
        }

        div.handwriting {
          position: relative;
          font-family: 'Shadows Into Light', cursive;
          font-size: 16px;
          font-weight: bold;
          -ms-transform: rotate(-10deg); /* IE 9 */
          -webkit-transform: rotate(-10deg); /* Safari 3-8 */
          // background-color: green;
          color: black;
        }

        img#arrow2 {
          display: none;
        }

        img#arrow2-mirror {
          position: relative;
          height: 50px;
          width: 40px;
          top: 0px;
          left: -5%;
          // background-color: lightblue;

          -ms-transform: rotate(210deg); /* IE 9 */
          -webkit-transform: rotate(210deg); /* Safari 3-8 */
        }
      }

      div.grey-block {
        background-color: whitesmoke;
      }

      @media screen and (max-width: 400px){

        table.table {
          font-size: 13px;
        }
      }


    </style>
  </head>
  <body class="public-homepage">
    <div class="container-fluid">
      <div class="row mt-4">
        <div class="col-12">
          <h1 class="text-center">UK ILR Day Counter</h1>
        </div>
      </div>
      <div class="row mt-4 pt-4 pb-4 mb-4 red-block">
        <div class="col"></div>
        <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12">
          <h5>A tool to help you track your days outside the UK and confirm whether you meet the 180-day 12-month rolling period requirement</h5>
        </div>
        <div class="col"></div>
        <div class="handwriting-block">
          <div class="handwriting">
            Scroll sideways to<br>
            check <u>absent days</u>!
          </div>
          <%= image_tag 'arrow2.png', id: 'arrow2' %>
          <%= image_tag 'arrow2-mirror.png', id: 'arrow2-mirror' %>
        </div>
      </div>


      <%= render partial: "timeline", locals: { tracker: @tracker, trips: @relevant_trips } %>

      <br><br>
      <div class="row mt-5 pt-4 grey-block">
        <div class="col"></div>
        <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12">
          <h3>Trips
            <span class="float-right" data-toggle="tooltip" data-title="Add new trip">
              <%= link_to "<i class='fas fa-plus'></i>".html_safe, '#', class: "float-right text-secondary", data: { toggle: "modal", target: "#login-form-modal" }, id: 'new-trip-button' %>
            </span>
          </h3>
          <table class="table">
            <thead>
              <tr>
                <th>Primary Destination</th>
                <th>Depart From UK Date</th>
                <th>Return To UK Date</th>
                <th>Full Days Absent from UK</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% if @all_trips.empty? %>
                <tr>
                  <td>No trips saved</td>
                </tr>
              <% else %>
                <% @all_trips.each do |trip| %>
                  <tr>
                    <td><%= trip.destination %></td>
                    <td><%= trip.depart_home_date.strftime("%d/%m/%Y") %></td>
                    <td><%= trip.return_home_date.to_formatted_s(:long) %></td>
                    <td><%= trip.day_count %></td>
                    <td>
                      <span data-toggle="tooltip" data-title="Edit trip">
                        <%= link_to "<i class='fas fa-edit'></i>".html_safe, '#', class: "text-secondary edit-trip-button", data: { toggle: "modal", target: "#login-form-modal" } %>
                      </span>
                      <span data-toggle="tooltip" data-title="Delete trip">
                        <%= link_to "<i class='fas fa-trash'></i>".html_safe, '#', class: "text-secondary delete-trip-button", data: { toggle: "modal", target: "#login-form-modal" } %>
                      </span>
                    </td>
                  </tr>
                <% end %>
                <tr>
                  <th colspan=3>Total Absent Days</th>
                  <th><%= @all_trips.sum(&:day_count) %></th>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="col"></div>
      </div>
    </div>

  </body>
</html>

<%= render "login_form_modal" %>
<%= render "signup_form_modal" %>
