div.general-container {
  position: relative;
  height: 250px;
  width: 100%;
  // background-color: blue;
}

div.screen-edge-container {
  /* display: block; */
  position: relative;
  height: 100%;
  padding-left: 0px;
  padding-right: 0px;
  // background-color: whitesmoke;
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;
}

div.red-window-label-heading {
  position: relative;
  text-align: center;
  // background-color: green;
}

div.red-window-label-heading-edit-button {
  display: inline-block;
  position: absolute;
  right: 0px;
}

@media screen and (min-width: 600px){
  div.red-window-label-heading-text {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    color: red;
  }
}

@media screen and (min-width: 200px) and (max-width: 599px){
  div.red-window-label-heading-text {
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    color: red;
  }
}

div.scrollbar {
  height: 100%;
  // background-color: green;
}

div.date-bar {
  display: flex;
  position: relative;
  height: 20%;
  // background-color: lighty ellow;
}

div.start-date-label {
  display: flex;
  position: absolute;
  height: 40%;
  top: 50%;
  -webkit-transform: translate(-50%, 0);
  background-color: white;
  z-index: 10;
  font-size: 13px;
}

div.end-date-label {
  display: flex;
  position: absolute;
  height: 40%;
  top: 50%;
  -webkit-transform: translate(50%, 0);
  background-color: white;
  z-index: 10;
  font-size: 13px;
}

div.timeline {
  display: flex;
  position: relative;
  height: 40%;
  background-color: lightgray;
  /* border-left: 1px solid black;
  border-right: 1px solid black; */
}

div.trip {
  display: inline-block;
  position: absolute;
  height: 100%;
  background-color: red;
}

div.country-label-bar {
  display: flex;
  position: relative;
  height: 40%;
  // background-color: lightyellow;
}

div.country-label-block {
  display: flex;
  position: absolute;
  height: 100%;
  align-items: left;
  /* background-color: pink; */
}


div.country-label {
  display: inline-block;
  position: absolute;
  /* background-color: green; */
  left: 50%;
  top: 2px;
  height: 100%;
  transform: translateX(-50%);
  writing-mode: vertical-rl;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

div.timeline div:hover {
  background-color: #FA8072;
}

// div.red-window-label-heading {
//   text-align: center;
//   font-size: 20px;
//   font-weight: bold;
//   color: red;
// }

div.red-window {
  display: flex;
  position: absolute;
  height: 100%;
  border: 3px solid red;
  top: 0;
  z-index: 5;
  pointer-events: none;
  // background-color: purple;
  // opacity: 0.2;
}

div.red-window-labels-bar {
  position: relative;
  background-color: lightpink;
  text-align: center;
  vertical-align: center;
}

div.red-window-absent-block {
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translate(-50px, -5px);
  right: auto;
  // background-color: lightpink;
}

div.absent-days-label {
  display: block;
  color: red;
  // background-color: lightblue;
  transform: translateY(-10px);
}

div.absent-days-number {
  display: block;
  color: red;
  font-size: 30px;
  // background-color: lightgreen;
  // transform: translateY(-10px);
}

div.red-window-start-date {
  display: inline-block;
  position: absolute;
  font-size: 13px;
  -webkit-transform: translate(-50%, 0);
  color: red;
}

div.red-window-end-date {
  display: inline-block;
  position: absolute;
  font-size: 13px;
  -webkit-transform: translate(50%, 0);
  color: red;
}
