<div class="modal" tabindex="-1" role="dialog" id="edit-trip-<%= trip.id %>-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Trip</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= bootstrap_form_for trip, url: account_trip_path(trip), method: 'patch', remote: true do |f| %>
        <div class="modal-body">
          <%= f.select :destination, f.object.country_hash.values, include_blank: 'Select destination...', label: "Primary Destination" %>
          <%= f.text_field :depart_home_date, label: "Date Departing UK", class: "datepicker depart_home_date", value: (f.object.depart_home_date.strftime('%d/%m/%Y') if f.object.depart_home_date) %>
          <%= f.text_field :return_home_date, label: "Date Arriving Back in UK", class: "datepicker return_home_date", value: (f.object.return_home_date.strftime('%d/%m/%Y') if f.object.return_home_date) %>
        </div>
        <div class="modal-footer">
          <%= f.submit "Save", data: { disable_with: "Saving..." } %>
        </div>
      <% end %>
    </div>
  </div>
</div>
