<div class="modal" tabindex="-1" role="dialog" id="edit-tracker-dates-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Tracker Dates</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= bootstrap_form_for @tracker, url: account_tracker_path(@tracker), method: 'patch', remote: true do |f| %>
        <div class="modal-body">
          <%= f.text_field :start_date, class: "datepicker", value: (@tracker.start_date.strftime('%d/%m/%Y') if @tracker.start_date) %>
          <%= f.text_field :end_date, class: "datepicker", value: (@tracker.end_date.strftime('%d/%m/%Y') if @tracker.end_date) %>
        </div>
        <div class="modal-footer">
          <%= f.submit "Save", data: { disable_with: "Saving..." } %>
        </div>
      <% end %>
    </div>
  </div>
</div>
