<div class="modal" tabindex="-1" role="dialog" id="failed_periods_modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Failed Periods</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table">
          <thead>
            <tr>
              <th>Count</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th>Absent Days</th>
            </tr>
          </thead>
          <tbody>
            <% @failed_periods.each_with_index do |failed_period, index| %>
              <tr>
                <td><%= index + 1 %></td>
                <td><%= failed_period[:start_date] %></td>
                <td><%= failed_period[:end_date] %></td>
                <td><%= failed_period[:absent_days] %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
