
<script>
  $(document).ready(function(){

    // parse trips in preparation for absent days calc on scroll
    trips = JSON.parse("<%= @trips_json %>".replace(/&quot;/g, '\"'));

    // scroll actions
    $('.screen-edge-container').scroll(function(e){

      // Adjust red window start and end dates to reflect 12 month period being viewed
      proportionScrolled = $(this).scrollLeft() / $('.timeline').width();
      daysScrolled = Math.round(proportionScrolled * parseInt("<%= @tracker.day_count %>"));
      var parts ="<%= @tracker.start_date %>".split('-');
      var trackerStartDate = new Date(parts[0], parts[1] - 1, parts[2]);
      redWindowEndDate = getRedWindowEndDate(trackerStartDate, daysScrolled);
      redWindowStartDate = getRedWindowStartDate(redWindowEndDate);
      redWindowStartText = redWindowStartDate.getDate() + "/" + (redWindowStartDate.getMonth() + 1) + "/" + redWindowStartDate.getFullYear();
      redWindowEndText = redWindowEndDate.getDate() + "/" + (redWindowEndDate.getMonth() + 1) + "/" + redWindowEndDate.getFullYear();
      $('.red-window-start-date').html(redWindowStartText);
      $('.red-window-end-date').html(redWindowEndText);

      // Adjust left edge of red window when viewing a leap year.
      if (dateDiff(redWindowStartDate, redWindowEndDate) == 365 ) { // 366 days in leap year but diff between start and end dates is only 365
        $('.red-window').css('left', "<%= red_window_percentage_margins - (red_window_percentage_width.to_f / 365) %>%");
      } else {
        $('.red-window').css('left', "<%= red_window_percentage_margins %>%");
      }

      // Adjust absent days number
      absentDays = 0;
      Object.keys(trips).forEach(function(trip_id){
        if (tripRelevantToCurrentView(trips[trip_id], redWindowStartDate, redWindowEndDate)) {
          absentDays += tripAbsentDaysInCurrentView(trips[trip_id], redWindowStartDate, redWindowEndDate);
        }
      });

      previousValue = $('.absent-days-number').html();
      if (previousValue != absentDays) {
        $('.absent-days-number').html(absentDays);
        $('.absent-days-number').css("font-size", 45);
        $('.absent-days-number').css("font-weight", 'bold');
      }
    });

    $('.screen-edge-container').scrollEnd(function(){
      $('.absent-days-number').animate({
        'font-size': 30,
        'font-weight': 400
        }, 100);
    }, 250);

  });

  // extension to take action after scrolling ends:
  $.fn.scrollEnd = function(callback, timeout) {
    $(this).scroll(function(){
      var $this = $(this);
      if ($this.data('scrollTimeout')) {
        clearTimeout($this.data('scrollTimeout'));
      }
      $this.data('scrollTimeout', setTimeout(callback,timeout));
    });
  };

  function tripRelevantToCurrentView(trip, viewStartDate, viewEndDate) {
    tripDepartHomeDate = new Date(trip.depart_home_date).setHours(0,0,0,0);
    tripReturnHomeDate = new Date(trip.return_home_date).setHours(0,0,0,0);
    if (tripReturnHomeDate < viewStartDate || tripDepartHomeDate > viewEndDate) {
      return false;
    }
    return true;
  }

  function tripAbsentDaysInCurrentView(trip, viewStartDate, viewEndDate) {
    tripDepartHomeDate = new Date(trip.depart_home_date).setHours(0,0,0,0);
    tripReturnHomeDate = new Date(trip.return_home_date).setHours(0,0,0,0);

    absentDays = 0;
    currentDate = addDays(tripDepartHomeDate, 1);
    while (currentDate < tripReturnHomeDate) {
      if (currentDate >= viewStartDate && currentDate <= viewEndDate) {

        absentDays += 1;
      }
      currentDate = addDays(currentDate, 1);
    }
    return absentDays;
  }

  function getRedWindowEndDate(trackerStartDate, daysScrolled) {
    redWindowEndDate = addDays(addDays(addYears(trackerStartDate, 1), -1), daysScrolled)
    return redWindowEndDate;
  }

  function getRedWindowStartDate(redWindowEndDate){
    oneYearEarlier = addYears(redWindowEndDate, -1);
    if (oneYearEarlier.getDate() != redWindowEndDate.getDate()) {
      oneYearEarlier = addDays(oneYearEarlier, -1);
    }
    redWindowStartDate = addDays(oneYearEarlier, 1);
    return redWindowStartDate;
  }

  function addDays(date, days) {
    var result = new Date(date);
    result.setDate(result.getDate() + days);
    return result;
  }

  function addYears(date, years) {
    var result = new Date(date);
    result.setFullYear(result.getFullYear() + years);
    return result;
  }

  function dateDiff(first, second) {
    return Math.round((second-first)/(1000*60*60*24));
  }

</script>
<head>
  <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
</head>

<div class="row">
  <div class="red-window-label-heading" style="left: <%= red_window_percentage_margins %>%; width: <%= red_window_percentage_width %>%">
    <div class="red-window-label-heading-text">12-Month Rolling Window</div>
    <div class="red-window-label-heading-edit-button">
      <span data-toggle="tooltip" data-title="Edit tracker dates">
        <%= link_to "<i class='fas fa-edit'></i>".html_safe, '#', class: "text-secondary", data: { toggle: "modal", target: "#edit-tracker-dates-modal" }, id: "edit-tracker-link" %>
      </span>
    </div>
  </div>
  <div class="general-container">
    <div class="screen-edge-container">
      <div class="scrollbar" style="width: <%= scrollbar_width(@tracker) %>%">
        <div class="date-bar">
          <div class="start-date-label" style="left: <%= timeline_percentage_margins(@tracker) %>%;"><%= @tracker.start_date.strftime("%d/%m/%Y") %></div>
          <div class="end-date-label" style="right:<%= timeline_percentage_margins(@tracker) %>%;"><%= @tracker.end_date.strftime("%d/%m/%Y") %></div>
        </div>
        <div class="timeline" style="margin-left: <%= timeline_percentage_margins(@tracker) %>%; margin-right: <%= timeline_percentage_margins(@tracker) %>%;">
          <% trips.each do |trip| %>
            <div class="trip" style="left: <%= get_trip_position(trip, @tracker) %>%; width: <%= get_trip_width(trip, @tracker) %>%;"></div>
          <% end %>
        </div>
        <div class="country-label-bar" style="margin-left: <%= timeline_percentage_margins(@tracker) %>%; margin-right: <%= timeline_percentage_margins(@tracker) %>%;">
          <% trips.each do |trip| %>
            <div class="country-label-block" style="left: <%= get_country_label_position(trip, @tracker) %>%; width: <%= get_country_label_width(trip, @tracker) %>%;">
                <div class="country-label"><%= trip.destination %></div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="red-window" style="left: <%= red_window_percentage_margins %>%; right: <%= red_window_percentage_margins %>%"></div>
    <div class="red-window-labels-bar">
      <div class="red-window-start-date" style="left: <%= red_window_percentage_margins %>%;"><%= @tracker.start_date.strftime("%d/%m/%Y") %></div>
      <div class="red-window-end-date" style="right: <%= red_window_percentage_margins %>%;"><%= (@tracker.start_date + 1.year - 1.day).strftime("%d/%m/%Y") %></div>
      <div class="red-window-absent-block">
        <div class="absent-days-number"><%= @absent_days_in_view %></div>
        <div class="absent-days-label">Absent Days</div>
      </div>
    </div>
  </div>
</div>
