<!-- <div class="modal" tabindex="-1" role="dialog" id="edit-tracker-dates-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Tracker Dates</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= bootstrap_form_for tracker, url: '#' do |f| %>
      <div class="modal-body">
          <%= f.text_field :start_date %>
          <%= f.text_field :end_date %>
      </div>
      <div class="modal-footer">
        <%= f.submit "Save" %>
      </div>
      <% end %>
    </div>
  </div>
</div> -->
