<div class="modal" tabindex="-1" role="dialog" id="welcome-modal-<%= @tracker.id %>">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Set Your Dates</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Your brand new day counter currently covers the default dates of 1/1/<%= Date.current.year %> to 31/12/<%= Date.current.year %>. Click the edit button above the top right corner of the red 12-month rolling period window to set your desired dates.</p>
        <p style="width: 100%;"><%= image_tag "edit-tracker.png", class: "edit-button-image", style: "border: 1px solid black; margin-left: 50%; transform: translateX(-50%);" %></p>
        <p>Then scroll down to the trips section to start adding your trips!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="dismiss-welcome-button">OK</button>
      </div>
    </div>
  </div>
</div>
