<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>

      div.result-block {
        position: relative;
        /* background-color: red; */
        background-color: lightgrey;
        color: black;
        text-align: center;
      }

      div.red-block {
        background-color: red;
        text-align: center;
        color: white;
      }

      @media screen and (min-width: 1000px) {

        div.handwriting-block {
          display: inline-block;
          position: absolute;
          left: 20px;
          bottom: 0px;
          z-index: 10;
          pointer-events: none;
          /* background-color: pink; */
          transform: translateY(70%)
        }

        div.handwriting {
          position: relative;
          font-family: 'Shadows Into Light', cursive;
          font-size: 35px;
          font-weight: bold;
          -ms-transform: rotate(-10deg); /* IE 9 */
          -webkit-transform: rotate(-10deg); /* Safari 3-8 */
          // background-color: green;
          color: black;
        }

        img#arrow2 {
          position: relative;
          height: 120px;
          width: 150px;
          top: -10px;
          left: 50%;
          // background-color: lightblue;

          -ms-transform: rotate(90deg); /* IE 9 */
          -webkit-transform: rotate(90deg); /* Safari 3-8 */
        }

        img#arrow2-mirror {
          display: none;
        }
      }

      @media screen and (min-width: 800px) and (max-width: 999px){

        div.handwriting-block {
          display: inline-block;
          position: absolute;
          left: 15px;
          bottom: 0px;
          z-index: 10;
          pointer-events: none;
          /* background-color: pink; */
          transform: translateY(80%)
        }

        div.handwriting {
          position: relative;
          font-family: 'Shadows Into Light', cursive;
          font-size: 20px;
          font-weight: bold;
          -ms-transform: rotate(-10deg); /* IE 9 */
          -webkit-transform: rotate(-10deg); /* Safari 3-8 */
          // background-color: green;
          color: black;
        }

        img#arrow2 {
          position: relative;
          height: 80px;
          width: 110px;
          top: -5px;
          left: 50%;
          // background-color: lightblue;

          -ms-transform: rotate(90deg); /* IE 9 */
          -webkit-transform: rotate(90deg); /* Safari 3-8 */
        }

        img#arrow2-mirror {
          display: none;
        }
      }

      @media screen and (min-width: 600px) and (max-width: 799px){

        div.handwriting-block {
          display: inline-block;
          position: absolute;
          left: 15px;
          bottom: 0px;
          z-index: 10;
          pointer-events: none;
          /* background-color: pink; */
          transform: translateY(85%)
        }

        div.handwriting {
          position: relative;
          font-family: 'Shadows Into Light', cursive;
          font-size: 20px;
          font-weight: bold;
          -ms-transform: rotate(-10deg); /* IE 9 */
          -webkit-transform: rotate(-10deg); /* Safari 3-8 */
          // background-color: green;
          color: black;
        }

        img#arrow2 {
          position: relative;
          height: 80px;
          width: 100px;
          top: -10px;
          left: 50%;
          // background-color: lightblue;

          -ms-transform: rotate(90deg); /* IE 9 */
          -webkit-transform: rotate(90deg); /* Safari 3-8 */
        }

        img#arrow2-mirror {
          display: none;
        }
      }

      @media screen and (min-width: 500px) and (max-width: 599px){

        div.handwriting-block {
          display: inline-block;
          position: absolute;
          left: 10px;
          bottom: 0px;
          z-index: 10;
          pointer-events: none;
          /* background-color: pink; */
          transform: translateY(80%)
        }

        div.handwriting {
          position: relative;
          font-family: 'Shadows Into Light', cursive;
          font-size: 20px;
          font-weight: bold;
          -ms-transform: rotate(-10deg); /* IE 9 */
          -webkit-transform: rotate(-10deg); /* Safari 3-8 */
          // background-color: green;
          color: black;
        }

        img#arrow2 {
          display: none;
        }

        img#arrow2-mirror {
          position: relative;
          height: 60px;
          width: 40px;
          top: -10px;
          left: 20%;
          // background-color: lightblue;

          -ms-transform: rotate(190deg); /* IE 9 */
          -webkit-transform: rotate(190deg); /* Safari 3-8 */
        }
      }

      @media screen and (min-width: 370px) and (max-width: 499px){
        div.handwriting-block {
          display: inline-block;
          position: absolute;
          left: 5px;
          bottom: 0px;
          z-index: 10;
          pointer-events: none;
          /* background-color: pink; */
          transform: translateY(80%)
        }

        div.handwriting {
          position: relative;
          font-family: 'Shadows Into Light', cursive;
          font-size: 15px;
          font-weight: bold;
          -ms-transform: rotate(-10deg); /* IE 9 */
          -webkit-transform: rotate(-10deg); /* Safari 3-8 */
          // background-color: green;
          color: black;
        }

        img#arrow2 {
          display: none;
        }

        img#arrow2-mirror {
          position: relative;
          height: 60px;
          width: 40px;
          top: -10px;
          left: 20%;
          // background-color: lightblue;

          -ms-transform: rotate(200deg); /* IE 9 */
          -webkit-transform: rotate(200deg); /* Safari 3-8 */
        }
      }

      @media screen and (min-width: 200px) and (max-width: 369px){
        div.handwriting-block {
          display: inline-block;
          position: absolute;
          left: 5px;
          bottom: 0px;
          z-index: 10;
          pointer-events: none;
          /* background-color: pink; */
          transform: translateY(70%)
        }

        div.handwriting {
          position: relative;
          font-family: 'Shadows Into Light', cursive;
          font-size: 16px;
          font-weight: bold;
          -ms-transform: rotate(-10deg); /* IE 9 */
          -webkit-transform: rotate(-10deg); /* Safari 3-8 */
          // background-color: green;
          color: black;
        }

        img#arrow2 {
          display: none;
        }

        img#arrow2-mirror {
          position: relative;
          height: 50px;
          width: 40px;
          top: 0px;
          left: -5%;
          // background-color: lightblue;

          -ms-transform: rotate(210deg); /* IE 9 */
          -webkit-transform: rotate(210deg); /* Safari 3-8 */
        }
      }

      div.grey-block {
        background-color: whitesmoke;
      }

      @media screen and (max-width: 400px){

        table.table {
          font-size: 13px;
        }

          img.edit-button-image {
            border: 1px solid #000;
          }
        }

      }

      failed_periods_link {
        width: 10%;
      }

    </style>
  </head>
  <body class="account-homepage">
    <div class="container-fluid">

      <div class="row mt-4 pt-2 pb-1 red-block">
        <div class="col"></div>
        <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12">
          <h5 class="red-block">Welcome to your personal tracker!</h5>
        </div>
        <div class="col"></div>
      </div>

      <div class="row mt-4 pt-2 pb-1 result-block">
        <div class="col"></div>
        <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12" style: "position: relative;">
          <% if @failed_periods.empty? %>
            <h3>Your Tracker Result: <label class="badge badge-success mb-0">PASS</label></h3>
          <% else %>
            <h3 class="mb-0">Your Tracker Result: <label class="badge badge-danger mb-0">FAIL</label></h3>
          <% end %>
        </div>
        <div class="col"></div>
      </div>
      <div class="row pb-1 mb-4 result-block">
        <div class="col"></div>
        <div class="col-6">
          <div>
            <% if @failed_periods.any? %>
              <%= link_to "Click here to see your failed periods", '#', data: { toggle: "modal", target: "#failed_periods_modal" }, id: "failed_periods_link" %>
            <% end %>
          </div>
        </div>
        <div class="col"></div>
        <div class="handwriting-block">
          <div class="handwriting">
            Scroll sideways to<br>
            check <u>absent days</u>!
          </div>
          <%= image_tag 'arrow2.png', id: 'arrow2' %>
          <%= image_tag 'arrow2-mirror.png', id: 'arrow2-mirror' %>
        </div>
      </div>

      <%= render partial: "timeline", locals: { tracker: @tracker, trips: @relevant_trips } %>

      <br><br>
      <div class="row mt-5 pt-4 grey-block">
        <div class="col"></div>
        <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12">
          <h3>Trips
            <span class="float-right" data-toggle="tooltip" data-title="Add new trip">
              <%= link_to "<i class='fas fa-plus'></i>".html_safe, '#', class: "text-secondary", data: { toggle: "modal", target: "#new-trip-modal" }, id: "new-trip-link" %>
            </span>
          </h3>
          <table class="table">
            <thead>
              <tr>
                <th>Primary Destination</th>
                <th>Depart From UK Date</th>
                <th>Return To UK Date</th>
                <th>Full Days Absent from UK</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% if @all_trips.empty? %>
                <tr>
                  <td>No trips saved</td>
                </tr>
              <% else %>
                <% @all_trips.each do |trip| %>
                  <tr>
                    <td class="destination-cell"><%= trip.destination %></td>
                    <td class="depart-home-date-cell"><%= trip.depart_home_date.to_formatted_s(:long) %></td>
                    <td class="return-home-date-cell"><%= trip.return_home_date.to_formatted_s(:long) %></td>
                    <td><%= trip.day_count %></td>
                    <td>
                      <span data-toggle="tooltip" data-title="Edit trip">
                        <%= link_to "<i class='fas fa-edit'></i>".html_safe, '#', class: "text-secondary", data: { toggle: "modal", target: "#edit-trip-#{trip.id}-modal" }, id: "edit-trip-link-#{trip.id}" %>
                      </span>
                      <span data-toggle="tooltip" data-title="Delete trip">
                        <%= link_to "<i class='fas fa-trash'></i>".html_safe, account_trip_path(trip), method: 'delete', class: "text-secondary", data: { confirm: "Are you sure you want to delete this trip?" } %>
                      </span>
                    </td>
                  </tr>
                  <%= render partial: "edit_trip_modal", locals: { trip: trip } %>
                <% end %>
                <tr>
                  <th colspan=3>Total Absent Days</th>
                  <th><%= @all_trips.sum(&:day_count) %></th>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="col"></div>
      </div>
    </div>
  </body>
</html>

<% if !@tracker.shown_welcome %>
  <%= render "welcome_modal" %>
<% end %>
<%= render "edit_tracker_modal" %>
<%= render "new_trip_modal" %>
<%= render "failed_periods_modal" %>
