var errors = JSON.parse('<%= @errors %>')
$('.error-message').remove();

if (errors.return_date_after_depart_date.length > 0) {
  modalBody = $('.new_trip').find('.modal-body')
  $(modalBody).prepend("<p class='error-message text-center alert alert-danger'>" + errors.return_date_after_depart_date.join(', ') + "</p>");
}

if (errors.overlaps.length > 0) {
  modalBody = $('.new_trip').find('.modal-body')
  $(modalBody).prepend("<p class='error-message text-center alert alert-danger'>" + errors.overlaps.join(', ') + "</p>");
}

var tripDestinationField = $('.new_trip').find('#trip_destination')
$(tripDestinationField).removeClass('is-invalid')
$(tripDestinationField).parents('.form-group').find('.invalid-feedback').remove()

if (errors.destination.length > 0) {
  $(tripDestinationField).addClass('is-invalid')
  $(tripDestinationField).parents('.form-group').append('<div class="invalid-feedback">' + errors.destination.join(', ') + '</div>')
}

var tripDepartHomeDateField = $('.new_trip').find('#trip_depart_home_date')
$(tripDepartHomeDateField).removeClass('is-invalid')
$(tripDepartHomeDateField).parents('.form-group').find('.invalid-feedback').remove()

if (errors.depart_home_date.length > 0) {
  $(tripDepartHomeDateField).addClass('is-invalid')
  $(tripDepartHomeDateField).parents('.form-group').append('<div class="invalid-feedback">' + errors.depart_home_date.join(', ') + '</div>')
}

var tripReturnHomeDateField = $('.new_trip').find('#trip_return_home_date')
$(tripReturnHomeDateField).removeClass('is-invalid')
$(tripReturnHomeDateField).parents('.form-group').find('.invalid-feedback').remove()

if (errors.return_home_date.length > 0) {
  $(tripReturnHomeDateField).addClass('is-invalid')
  $(tripReturnHomeDateField).parents('.form-group').append('<div class="invalid-feedback">' + errors.return_home_date.join(', ') + '</div>')
}
