<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <% if @current_user %>
    <a class="navbar-brand" href="#">UK ILR Day Counter</a>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <% if @current_user %>
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= @current_user.email %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "Account", account_homepage_path, class: "dropdown-item" %>
            <div class="dropdown-divider"></div>
            <%= link_to "Log Out", logout_path, class: "dropdown-item" %>
          </div>
        <% else %>
          <%= link_to "Log In", '#', class: "btn btn-sm btn-secondary login-button", data: { toggle: "modal", target: "#login-form-modal" } %>
          <%= link_to "Sign Up", '#', class: "btn btn-sm btn-secondary signup-button", data: { toggle: "modal", target: "#signup-form-modal" } %>
        <% end %>
      </li>
    </ul>
  </div>
</nav>
