$('.error-message').remove();
$('.modal-body').prepend("<p class='error-message text-center alert alert-danger'>Your sign up details are incorrect.  Please try again.</p>");

var errors = JSON.parse('<%= @errors %>')

var emailField = $('#signup-email-field')
$(emailField).removeClass('is-invalid')
$(emailField).parents('.form-group').find('.invalid-feedback').remove()

if (errors.email.length > 0) {
  $(emailField).addClass('is-invalid')
  $(emailField).parents('.form-group').append('<div class="invalid-feedback">' + errors.email.join(', ') + '</div>')
}

var passwordField = $('#signup-password-field')
$(passwordField).removeClass('is-invalid')
$(passwordField).parents('.form-group').find('.invalid-feedback').remove()

if (errors.password.length > 0) {
  $(passwordField).addClass('is-invalid')
  $(passwordField).parents('.form-group').append('<div class="invalid-feedback">' + errors.password.join(', ') + '</div>')
}

var passwordConfirmationField = $('#signup-password-confirmation-field')
$(passwordConfirmationField).removeClass('is-invalid')
$(passwordConfirmationField).parents('.form-group').find('.invalid-feedback').remove()

if (errors.password_confirmation.length > 0) {
  $(passwordConfirmationField).addClass('is-invalid')
  $(passwordConfirmationField).parents('.form-group').append('<div class="invalid-feedback">' + errors.password_confirmation.join(', ') + '</div>')
}
