<style>

  div.red-block {
    position: relative;
    background-color: red;
    color: white;
    text-align: center;
  }

  div.grey-block {
    background-color: whitesmoke;
  }

</style>

<html>
  <head>


  </head>

  <body>
    <div class="container-fluid">
      <div class="row pt-2 pb-2 grey-block">
        <div class="col-6">
            <%= link_to "Home", public_homepage_path, style: 'color:#000000;' %>
        </div>
        <div class="col-6 text-right">
          <%= link_to "Log In", login_path, class: "btn btn-sm btn-secondary" %>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-12">
          <h1 class="text-center">UK ILR Day Counter</h1>
        </div>
      </div>
      <div class="row mt-4 pt-4 pb-4 mb-4 red-block">
        <div class="col"></div>
        <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12">
          <h5>Create an account in order to save your trips to the system and view your own day counter.</h5>
        </div>
        <div class="col"></div>
      </div>
      <div class="row mt-4 pt-4 pb-4 mb-4">
        <div class="col"></div>
        <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12">
          <div class="card card-default">
            <div class="card-header">Sign Up</div>
            <div class="card-body">
              <div class="col-12">
                <%= bootstrap_form_for @user, url: public_create_signup_path, method: 'post' do |f| %>
                <%= f.text_field :email, label: "Email Address" %>
                <%= f.password_field :password %>
                <%= f.password_field :password_confirmation, label: "Confirm Password" %>
                <%= f.submit "Save", class: "btn btn-secondary float-right" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="col"></div>
      </div>
    </div>
  </body>
</html>
